.homepage-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards-container {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}