.Navbar {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-left: 30px;
    padding-right: 30px;
}

.Logo_space {
    width: 80px;
    height: 65px;
    display: flex;
    position: relative;
}

.Logo {
    height: 100%;
    width: 100%;
}

.Search_bar_dropdown_menu_holder {
    width: 440px;
    height: 130px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.Search_bar {
    height: 50px;
    width: 800px;
    display: flex;
    flex-direction: row;
}

.Dropdown_menu_holder {
    width: 700px;
    height: 93.9px;
    display: flex;
    flex-direction: row;
}

.Dropdown_menu {
    margin: 10px;
    margin-left: 20px;
}

.Dropdown_menu_span {
    width: 10px;
    height: 10px;
}

.Button_holder {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-left: 270px;
}

.Search_bar_input_left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 45px;
    width: 300px;
    border: 0px;
    margin-right: -2px;
}

.Search_bar_input_right {
    height: 45px;
    width: 300px;
    border: 0px;
}

.search_icon {
    width: 10px;
    height: 10px;
    font-size: 20px;
    margin-right: 9px;
    color: white;
}

.search_button {
    padding-bottom: 0.4rem;
    background-color: red;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 47px;
    width: 50px;
    align-self: center;
    border: 0px;
}

.search_button:hover {
    background-color: lightgrey;
}

.border_between_input {
    background-color: grey;
    width: 2px;
    height: 30px;
    align-self: center;
    opacity: 50%;
}

input::placeholder {
    padding: 15px;
    font-size: 15px;
}