.Navbar {
    width: 1440px;
    height: 130px;
    background-color: aqua;
    position: relative;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
}

.Logo_space {
    width: 150px;
    height: 65px;
    display: flex;
    position: relative;
}

.Logo {
    height: 100%;
    width: 100%;
}

.Search_bar_dropdown_menu_holder {
    width: 440px;
    height: 130px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.Search_bar {
    background-color: black;
    height: 50px;
    width: 440px;
    display: flex;
    flex-direction: row;
}

.Search_bar_food {
    background-color: green;
    height: 100%;
    width: 195px;
}

.Search_bar_food_location {
    background-color: red;
    width: 195px;
}

.Search_bar_search_button {
    background-color: orange;
    height: 100%;
    width: 50px;
}

.Dropdown_menu_holder {
    background-color: grey;
    width: 700px;
    height: 93.9px;
    display: flex;
    flex-direction: row;
}

.Dropdown_menu {
    background-color: magenta; 
    height: 20px;
    width: 150px;
    margin: 20px;
    margin-left: 40px;
}

.Dropdown_menu_span {
    width: 10px;
    height: 10px;
}

.Button_holder {
    display: flex;
    flex-direction: row;
    background-color: firebrick;
    height: 30px;
    width: 100%;
}
