.LIButton:hover {
    background-color: lightgrey;
}

.LIButton {
    background-color: transparent;
    margin-left: 20px;
    width: 100px;
    height: 40px;
    font-size: 14;
    border-radius: 5px;
}
.LIButton_posebni {
    background-color: red;
    margin-left: 20px;
    width: 100px;
    height: 40px;
    font-size: 14;
    border-radius: 5px;
} 