#root {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 400px;
  border-radius: 25px;
}

.picture-cover {
  width: 400px;
  height: 200px;
  background-color:black;
}
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: purple;
  position: relative;
  margin-top: -50px;
  margin-bottom: -50px;
  margin-left: 150px;
}

.image {
  width: 400px;
  height: 200px;
  align-self: center;
}

.card-info {
  min-height: 140px;
  background-color: yellow;
  padding: 2rem;
}

.user-info {
  min-height: 100px;
  background-color: aqua;
}

.bottom-button {
  min-height: 75px;
  background-color: blueviolet;
}