#root {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 400px;
  box-shadow: 18px 18px 38px -3px rgba(0,0,0,0.75);
  border-radius: 30px;
}

.profile-image-cover {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: white;
  position: relative;
  margin-top: -50px;
  margin-bottom: -50px;
  margin-left: 150px;
}

.background_image_cover {
  height: 200px;
  width: 400px;
}

.background_image {
  width: 400px;
  height: 200px;
  align-self: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.user_info {
  min-height: 140px;
  padding: 2rem;
}

.followings {
  min-height: 50px;
  display: flex;
  flex-direction: row;
}

.followers {
  min-height: 50px;
  width: 199px;
  margin: 1px;
}
.followings-border {
  min-height: 50px;
  width: 2px;
  background-color: black;
}

.following {
  min-height: 50px;
  width: 199px;
  margin: 1px;
}

.follow-button_area {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.follow-text {
  color: white;
}

.text {
  color: black;
  font-weight: 2px;
}

.profile_picture {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.follow_button {
  width: 400px;
  height: 50px;
  background-color: lightgreen;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 5px;
}

p {
  margin: 0;
  padding: 0;
}