#root {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 400px;
  border-radius: 25px;
}

.picture-cover {
  width: 400px;
  height: 200px;
  background-color:black;
}

.image {
  width: 400px;
  height: 200px;
  align-self: center;
}

.card-info {
  background-color: yellow;
  padding: 2rem;
}

.user-info {
  min-height: 70px;
  background-color: aqua;
}

.button {
  min-height: 50px;
  background-color: blueviolet;
}