:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

nav {
    margin-bottom: 15px;
}

.form-control {
    margin-bottom: 10px !important;
}

nav>.container-fluid,
.main-container {
    width: 80vw;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    nav > .container-fluid, .main-container {
        width: 100%;
    }

    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

}